body {
    font: 400 1em/1.5 "Neuton";
    background: #856305;
    text-align: center;
    margin: 0;
    height: 100%;
  }
  html {
    width: 100%;
    height: 100%;
  }
  
  p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double #e7a806;
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    bottom: 70vh;
    left: 8%;
    width: 20em;
    margin: 0 0 0 -20em;
  
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
 
  }





form{
  display: flex;
  position: relative;
  
}


  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    bottom: -1%;
  }

  
  .input input {
    width: 50%;
    height: 40px;
    border-radius: 15px;
    border-color: #9e7406;
    background-color: #000000;
    color: white;
    bottom: 2%;
  }
  
  .input input::placeholder {
    color: #e7a806;
    font-size: 20px;
    text-transform: uppercase;
  }
  

  
  .fig {
    display: flex;
    position: absolute;
    width: 20%;
    bottom: 20%;
    height: 60%;
  }
  
 
  
.buton{
  position: relative;
  border: none;
  padding: 5px 10px 5px 10px;
  background-color: #090d00;
  color: #e7a806;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  width: 7%;
  height: 4%;
  bottom: 35vh;
  text-transform: uppercase;
}


.buton:hover{
  background-color: #9e7406;
}